.btn{
  margin: 5px;
}

.list{
  padding: 10px;
  margin-top: 10px;
}

.products{
  border: 5px solid #0090a3;
  border-radius: 10px;
}

.clients{
  border: 5px solid #a0010e;
  border-radius: 10px;
}