<div class="container mt-5">
  <h1 class="title mb-2">Detalles del Pedido con ID:{{this.rutaActiva.snapshot.params.id}}</h1>
  <h3 class="mb-2 mt-2">Cliente: {{order.clientName}}</h3>
  <h3 class="mb-2">ID de cliente: {{order.clientId}}</h3>
  <h3 class="mb-2 mt-2">Fecha del pedido: {{order.date | date: 'medium'}}</h3>
  <div class="table-responsive mt-4">
    <table class="table table-hover table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col" style="width: 5%; text-align: center;">#</th>
          <th scope="col" style="text-align: center;">Id producto</th>
          <th scope="col">Nombre</th>
          <th scope="col" style="text-align: center;">Cantidad</th>
          <th scope="col">Precio</th>
          <th scope="col">Total</th>
          <!-- <th scope="col">Eleminar</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of order.orderDetail; let i = index">
          <th style="text-align: center;" scope="row">{{i+1}}</th>
          <td style="text-align: center;">{{product.productId}}</td>
          <td>{{product.productName}}</td>
          <td style="text-align: center;">
            {{product.amount}}
          </td>
          <td>{{product.price | currency: '$'}}</td>
          <td>{{product.total | currency: '$'}}</td>
          <!-- <td><button class="btn btn-danger" (click)='delete(i)'>Eliminar</button></td> -->
        </tr>
      </tbody>
    </table>
    <h1>Total: {{order.total| currency:'$'}}</h1>
  </div>
  <button routerLink="/list-orders" class="btn btn-primary">Atras</button>
</div>
 