.btn{
  margin: 1px;
}

.card{
  border: 1px solid #53c0ff;
}

.title{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: royalblue;
  text-shadow: 1px 1px rgb(26, 23, 46);
}

.name{
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px rgb(18, 11, 78);
}


.result{
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px rgb(18, 11, 78);
  text-align: center;
}