<div class="container mt-5">
  <h1 class="title">Home</h1>

  <form action="">
    <input (input)="searhClient($event)" placeholder="Buscar un clinete" type="text" class="form-control mt-2 mb-2">
  </form>

  <button  routerLink="/add-clients" class="btn btn-primary">Agregar cliente nuevo</button>
  <div class="row mt-4 mb-4">
    <div class="col-sm-3" *ngFor="let client of clients">
      <div class="card mt-2 mb-2">
        <div class="card-body">
          <h5 class="card-title name">{{client.name}} {{client.lastName}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{client.clientId}}</h6>
          <p class="card-text">{{client.address}}</p>
          <button (click)="goToProduct(client)" class="btn btn-primary">Seleccionar</button>
          <button (click)="deleteClient(client.clientId)"class="btn btn-danger">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>
